<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="HorusFrame">
		<id_arg>0</id_arg>
		<handler function="OnClose" entry="EVT_CLOSE" />
		<object class="wxBoxSizer" variable="BoxSizer1" member="no">
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer2" member="no">
					<orient>wxVERTICAL</orient>
					<object class="sizeritem">
						<object class="wxAuiNotebook" name="ID_AUINOTEBOOK1" variable="AuiNotebook1" member="yes">
							<minsize>800,500</minsize>
							<style>wxAUI_NB_TAB_FIXED_WIDTH</style>
							<object class="AuiNotebookPage">
								<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
									<object class="wxBoxSizer" variable="BoxSizer3" member="no">
										<orient>wxVERTICAL</orient>
										<object class="sizeritem">
											<object class="wxBoxSizer" variable="BoxSizer4" member="no">
												<object class="sizeritem">
													<object class="wxBoxSizer" variable="BoxSizer6" member="no">
														<object class="sizeritem">
															<object class="wxStaticBoxSizer" variable="m_cassetteSizer" member="yes">
																<label>  Cassette  </label>
																<orient>wxVERTICAL</orient>
																<object class="sizeritem">
																	<object class="wxBoxSizer" variable="BoxSizer8" member="no">
																		<object class="sizeritem">
																			<object class="wxBoxSizer" variable="BoxSizer13" member="no">
																				<object class="sizeritem">
																					<object class="wxButton" name="ID_BUTTON1" variable="m_dockCassette" member="yes">
																						<label>Dock Cassette</label>
																						<handler function="Onm_dockCassetteClick" entry="EVT_BUTTON" />
																					</object>
																					<flag>wxALL</flag>
																					<border>5</border>
																				</object>
																				<object class="sizeritem">
																					<object class="wxButton" name="ID_BUTTON6" variable="m_undockCassette" member="yes">
																						<label>Undock Cassette</label>
																						<handler function="Onm_undockCassetteClick" entry="EVT_BUTTON" />
																					</object>
																					<flag>wxALL</flag>
																					<border>5</border>
																				</object>
																			</object>
																			<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																			<border>5</border>
																		</object>
																		<object class="spacer">
																			<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																			<border>5</border>
																			<option>1</option>
																		</object>
																		<object class="spacer">
																			<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																			<border>5</border>
																			<option>1</option>
																		</object>
																	</object>
																	<flag>wxTOP|wxLEFT|wxRIGHT|wxEXPAND</flag>
																	<border>5</border>
																</object>
																<object class="sizeritem">
																	<object class="wxBoxSizer" variable="BoxSizer14" member="no">
																		<orient>wxVERTICAL</orient>
																		<object class="sizeritem">
																			<object class="wxBoxSizer" variable="BoxSizer15" member="no">
																				<object class="sizeritem">
																					<object class="wxBoxSizer" variable="BoxSizer16" member="no">
																						<orient>wxVERTICAL</orient>
																						<object class="sizeritem">
																							<object class="wxScrolledWindow" name="ID_SCROLLEDWINDOW1" variable="m_scrolledCartridges" member="yes">
																								<object class="wxBoxSizer" variable="m_slotSizer" member="yes">
																									<orient>wxVERTICAL</orient>
																								</object>
																							</object>
																							<flag>wxEXPAND</flag>
																							<border>5</border>
																							<option>1</option>
																						</object>
																					</object>
																					<flag>wxEXPAND</flag>
																					<border>5</border>
																					<option>1</option>
																				</object>
																			</object>
																			<flag>wxEXPAND</flag>
																			<border>5</border>
																			<option>1</option>
																		</object>
																	</object>
																	<flag>wxLEFT|wxRIGHT|wxEXPAND</flag>
																	<border>5</border>
																	<option>1</option>
																</object>
															</object>
															<flag>wxALL|wxEXPAND</flag>
															<border>5</border>
															<option>1</option>
														</object>
													</object>
													<flag>wxALL|wxEXPAND</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxBoxSizer" variable="BoxSizer5" member="no">
														<orient>wxVERTICAL</orient>
														<object class="sizeritem">
															<object class="wxStaticBoxSizer" variable="m_stageSizer" member="yes">
																<label>  On Stage  </label>
																<orient>wxVERTICAL</orient>
																<object class="sizeritem">
																	<object class="wxBoxSizer" variable="BoxSizer7" member="no">
																		<object class="sizeritem">
																			<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
																				<label>Loaded Cartridge: </label>
																				<style>wxALIGN_RIGHT</style>
																			</object>
																			<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																			<border>5</border>
																			<option>1</option>
																		</object>
																		<object class="sizeritem">
																			<object class="wxStaticText" name="ID_STATICTEXT2" variable="m_cartridgeNum" member="yes">
																				<label>&lt;NONE&gt;</label>
																			</object>
																			<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																			<border>5</border>
																			<option>1</option>
																		</object>
																	</object>
																	<flag>wxALL|wxEXPAND</flag>
																	<border>5</border>
																</object>
																<object class="sizeritem">
																	<object class="wxBoxSizer" variable="BoxSizer17" member="no">
																		<object class="sizeritem">
																			<object class="wxScrolledWindow" name="ID_SCROLLEDWINDOW2" variable="m_scrolledStage" member="yes">
																				<object class="wxBoxSizer" variable="BoxSizer18" member="no">
																					<object class="sizeritem">
																						<object class="wxBoxSizer" variable="BoxSizer19" member="no">
																							<orient>wxVERTICAL</orient>
																							<object class="sizeritem">
																								<object class="wxCheckBox" name="ID_CHECKBOX1" variable="m_keepOnStage" member="yes">
																									<label>Keep On Stage</label>
																									<enabled>0</enabled>
																									<handler function="Onm_keepOnStageClick" entry="EVT_CHECKBOX" />
																								</object>
																								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																								<border>5</border>
																								<option>1</option>
																							</object>
																							<object class="sizeritem">
																								<object class="wxButton" name="ID_BUTTON2" variable="m_unloadStage" member="yes">
																									<label>Unload</label>
																									<enabled>0</enabled>
																									<handler function="Onm_unloadStageClick" entry="EVT_BUTTON" />
																								</object>
																								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																								<border>5</border>
																							</object>
																						</object>
																						<flag>wxALL|wxEXPAND</flag>
																						<border>5</border>
																						<option>1</option>
																					</object>
																				</object>
																			</object>
																			<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																			<border>5</border>
																			<option>1</option>
																		</object>
																	</object>
																	<flag>wxALL|wxEXPAND</flag>
																	<border>5</border>
																	<option>1</option>
																</object>
															</object>
															<flag>wxALL|wxEXPAND</flag>
															<border>5</border>
														</object>
														<object class="sizeritem">
															<object class="wxStaticBoxSizer" variable="StaticBoxSizer2" member="no">
																<label>  Operator  </label>
																<orient>wxVERTICAL</orient>
																<object class="sizeritem">
																	<object class="wxBoxSizer" variable="BoxSizer10" member="no">
																		<orient>wxVERTICAL</orient>
																		<object class="sizeritem">
																			<object class="wxBoxSizer" variable="BoxSizer11" member="no">
																				<object class="sizeritem">
																					<object class="wxChoice" name="ID_CHOICE1" variable="m_operatorChoice" member="yes">
																						<handler function="Onm_operatorChoiceSelect" entry="EVT_CHOICE" />
																					</object>
																					<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																					<border>5</border>
																					<option>1</option>
																				</object>
																				<object class="sizeritem">
																					<object class="wxBoxSizer" variable="BoxSizer12" member="no">
																						<orient>wxVERTICAL</orient>
																						<object class="sizeritem">
																							<object class="wxButton" name="ID_BUTTON4" variable="m_addOperator" member="yes">
																								<label>+</label>
																								<size>20,20</size>
																								<tooltip>Add an Operator</tooltip>
																								<handler function="Onm_addOperatorClick" entry="EVT_BUTTON" />
																							</object>
																							<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																							<border>5</border>
																						</object>
																						<object class="sizeritem">
																							<object class="wxButton" name="ID_BUTTON5" variable="m_deleteOperator" member="yes">
																								<label>-</label>
																								<size>20,20</size>
																								<enabled>0</enabled>
																								<tooltip>Delete Selected Operator</tooltip>
																								<handler function="Onm_deleteOperatorClick" entry="EVT_BUTTON" />
																							</object>
																							<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																							<border>5</border>
																						</object>
																					</object>
																					<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																					<border>5</border>
																				</object>
																			</object>
																			<flag>wxALL|wxEXPAND</flag>
																			<border>5</border>
																		</object>
																	</object>
																	<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																	<border>5</border>
																</object>
															</object>
															<flag>wxALL|wxEXPAND</flag>
															<border>5</border>
															<option>1</option>
														</object>
													</object>
													<flag>wxALL|wxEXPAND</flag>
													<border>5</border>
												</object>
											</object>
											<flag>wxALL|wxEXPAND</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxBoxSizer" variable="BoxSizer9" member="no">
												<object class="sizeritem">
													<object class="wxRichTextCtrl" name="ID_RICHTEXTCTRL1" variable="m_textLogger" member="yes">
														<attributes>wxTEXT_ATTR_TEXT_COLOUR|wxTEXT_ATTR_BACKGROUND_COLOUR|wxTEXT_ATTR_FONT_FACE|wxTEXT_ATTR_FONT_SIZE|wxTEXT_ATTR_FONT_WEIGHT|wxTEXT_ATTR_FONT_ITALIC|wxTEXT_ATTR_FONT_UNDERLINE|wxTEXT_ATTR_FONT|wxTEXT_ATTR_ALIGNMENT|wxTEXT_ATTR_LEFT_INDENT|wxTEXT_ATTR_RIGHT_INDENT|wxTEXT_ATTR_TABS|wxTEXT_ATTR_PARA_SPACING_AFTER|wxTEXT_ATTR_PARA_SPACING_BEFORE|wxTEXT_ATTR_LINE_SPACING|wxTEXT_ATTR_CHARACTER_STYLE_NAME|wxTEXT_ATTR_PARAGRAPH_STYLE_NAME|wxTEXT_ATTR_LIST_STYLE_NAME|wxTEXT_ATTR_BULLET_STYLE|wxTEXT_ATTR_BULLET_NUMBER|wxTEXT_ATTR_BULLET_TEXT|wxTEXT_ATTR_BULLET_NAME|wxTEXT_ATTR_URL|wxTEXT_ATTR_PAGE_BREAK|wxTEXT_ATTR_EFFECTS|wxTEXT_ATTR_OUTLINE_LEVEL</attributes>
														<style>wxRE_MULTILINE|wxRE_READONLY</style>
													</object>
													<flag>wxALL|wxEXPAND</flag>
													<border>5</border>
													<option>1</option>
												</object>
											</object>
											<flag>wxALL|wxEXPAND</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
								</object>
								<label>Cassette Logger</label>
							</object>
						</object>
						<flag>wxALL|wxEXPAND|wxFIXED_MINSIZE</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
		<object class="wxMenuBar" variable="MenuBar1" member="no">
			<object class="wxMenu" variable="Menu1" member="no">
				<label>&amp;File</label>
				<object class="wxMenuItem" name="idMenuQuit" variable="MenuItem1" member="no">
					<label>Quit</label>
					<accel>Alt-F4</accel>
					<help>Quit the application</help>
					<handler function="OnQuit" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu2" member="no">
				<label>Help</label>
				<object class="wxMenuItem" name="idMenuAbout" variable="MenuItem2" member="no">
					<label>About</label>
					<accel>F1</accel>
					<help>Show info about this application</help>
					<handler function="OnAbout" entry="EVT_MENU" />
				</object>
			</object>
		</object>
		<object class="wxStatusBar" name="ID_STATUSBAR1" variable="StatusBar1" member="yes">
			<fields>1</fields>
			<widths>-1</widths>
			<styles>wxSB_NORMAL</styles>
		</object>
	</object>
</wxsmith>
